<p id="notice"><%= notice %></p>

<%= render 'table' %>

<br><%= button_to 'New Developer', new_developer_path, :method => "get" %></br>
<br><%= button_to "Projects Page", projects_path, :method => "get"  %></br>
