<h1>New Developer</h1>

<br><%= render 'form' %></br>

<br><%= button_to 'Back', developers_path, :method => "get" %></br>
<br><%= button_to 'Home', login_path, :method => "get" %></br>
<br><%= button_to "Log out", logout_path, :method => "get" %></br>
