<h1>Edit Your Time Log</h1>

<br><%= render 'form' %></br>

<br><%= button_to 'Back', time_entries_path, :method => "get" %></br>
<br><%= button_to 'Home', developers_path, :method => "get" %></br>
<br><%= button_to "Log out", logout_path, :method => "get" %></br>
