<p id="notice"><%= notice %></p>

<p>
  <strong>Duration Worked:</strong>
  <%= @time_entry.duration_worked %>
</p>

<p>
  <strong>Worked On:</strong>
  <%= @time_entry.worked_on %>
</p>


<br><%= link_to 'Back', time_entries_path %></br>
